{% extends "base.html" %}
{% block content %}
<div class="cover-container text-center text-white d-flex p-3 mx-auto flex-column">
  <div class="mt-auto p-0"></div>
  <main class="px-3">
    <h1>Skill Finder</h1>
    <p class="lead">Job qualification analytics based on current open-source job postings</p>
    <p class="lead">
      <a href="/dashboard" class="btn btn-lg btn-secondary fw-bold border-white bg-white">View Dashboard</a>
    </p>
  </main>
  <div class="mt-auto p-1"></div>
  <footer class="text-white-50">
    <p class="text-center"> Created by Lee Cheng Zhe</p>
  </footer>
</div>
{% endblock %}
